/* Global reset */
* {
    box-sizing: border-box;
}

body {
    padding-bottom: 1rem;
    background-color: #121212;
    color: #ffffff;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.center-content {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
}

/* Input field styling */
input.coefficient-input {
    text-align: center;
    font-size: 1.2rem;
    height: 3rem;
    padding: 0.5rem;
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #444444;
    width: 100%;
    max-width: 100px;
    margin-bottom: 0.5rem; /* Уменьшаем расстояние между графами */
}

input.coefficient-input:focus {
    background-color: #2a2a2a;
    border-color: #007bff;
}

/* Game label styling */
.game-label {
    margin: 0 0.5rem; /* Уменьшаем расстояние между графами и названиями геймов */
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
    width: 100%;
    max-width: 100px;
}

/* Result styling */
#result {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Buttons styling */
button.btn-calculate, button.btn-clear {
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
}

button.btn-calculate {
    background-color: #007bff;
    color: #ffffff;
}

button.btn-clear {
    background-color: #6c757d;
    color: #ffffff;
}

button.btn-calculate:hover, button.btn-clear:hover {
    opacity: 0.8;
}

/* Card styling */
.card {
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #444444;
    margin-bottom: 1rem;
}

.card-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #2a2a2a;
    padding: 1rem;
}

.card-body {
    padding: 1.5rem;
}

/* Responsive adjustments */
.input-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem; /* Уменьшаем расстояние между графами */
}

@media (max-width: 768px) {
    .card-body {
        padding: 1rem;
    }

    .card-header {
        padding: 0.75rem 1rem;
    }

    .btn {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    #winner-alert {
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }

    h1 {
        margin-bottom: 0.5rem !important;
        font-size: 1.75rem;
    }

    .game-label,
    .coefficient-input {
        width: calc(50% - 0.5rem); /* Уменьшаем расстояние между графами и названиями геймов */
        margin: 0.5rem auto;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .game-label,
    .coefficient-input {
        width: 100%;
        margin: 0.5rem 0;
        font-size: 1rem;
    }

    #result {
        font-size: 2rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .input-row {
        flex-direction: column;
        align-items: center;
    }
}

